@import "./variable.css";

/*   --------------- || Desktop|| ----------------------------------------  */

/* || Body || ----------------*/
body {
  font-family: var(--ff-secondary);

  background: #fff;
}


/* || About  || ----------------*/
.About {
  margin: 0;
  padding: 7rem 0 20rem;
}

.About--Heading {
  font-family: var(--ff-primary);
  font-size: var(--fs-lg);
  font-weight: var(--fw-med);

  margin: 0 0 3rem 0;
}

.About--Wrapper {
  display: flex;
  flex-flow: row nowrap;

}
.About--Description {
  font-size: var(--fs-xs);
  font-weight: var(--fw-low);
}

.About--Maps {
  margin: 0 0 0 1rem;
  width: 100%;
  display: block;
}


/* || Amenities || ----------------*/
.Amt {
  background: lightsteelblue;
}

/* || RatesCalender || ----------------*/
.RatesCalender {
  background: lightyellow;
}

/* || Footer || ----------------*/
footer {
  background: orange;
}

/*   -------------------------------- || Mobile || ----------------------------------------  */

@media only screen and (max-width: 768px) {
  body {
    font-family: var(--ff-secondary);
  }

  main {
    min-height: 80vh;
  }

  .fas {
    color: #000;
  }
  
  /* About ----------------*/
  .About {
    margin: 0;
    padding: 10rem 0;
  }

  .About--Wrapper {
    display: flex;
    flex-flow: column nowrap;
  
  }

  .About--Maps {
    width: 100%;
    display: block;

    margin: 0;
  }

  /* Room ----------------*/
  

  /* Amenities ----------------*/
  .Amt {
    background: lightsteelblue;
  }

  /* RatesCalender ----------------*/
  .RatesCalender {
    background: lightyellow;
  }

  /* footer----------------*/
  footer {
    background: var(--main-bg-color);
  }
}
