@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

:root {
  --main-bg-color: brown;
  --primary-bg-color: orange;

  --ff-primary: "Playfair Display", "serif";
  --ff-second: "Fauna One", "sans-serif";

  --fs-xs: 16px;
  --fs-sm: 20px;
  --fs-md: 25px;
  --fs-rg: 35px;
  --fs-lg: 45px;
  --fs-xl: 55px;
  --fs-xxl: 65px;
  --fs-xxxl: 75px;

  --fw-low: 200;
  --fw-reg: 400;
  --fw-med: 550;
  --fw-bold: 700;
  
  --animation-Slide: 1s ease-out 0s 1 slideInFromLeft;
  --animation-FadeIn: 1s ease-out 0s 1 fadeIn;
  --animation-FadeIn3: 3s ease-out 0s 1 fadeIn;
}

